[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
notebook = "*"
sklearn = "*"
numpy = "*"
pandas = "*"
keras = "*"
seaborn = "*"
spacy = "*"
matplotlib = "*"
spacy-langdetect = "*"
spacy-lookups-data = "*"
keras-bert = "*"
tensorflow = "*"
nltk = "*"


[dev-packages]

[requires]
python_version = "3.8"
