[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
spacy-lookups-data = "*"
spacy-langdetect = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyterlab = "*"
sklearn = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.8"
